.rej
*.rej
*.orig
bin/
dist/
documentation/
node_modules/
html/
/starter-kit/
/lite-kit/
app-assets/css/
app-assets/css-rtl/
app-assets/js/
assets/css/
src/template-builder/pages/template.pug
temp/
*.zip
/bin
/html-test
/html-old
/html-demo
/starter-kit-demo