.main-menu {
  ul {
    overflow: auto;
    height: 100%;
  }
}
.navbar-search {
  .nav-link {
    margin-top: -2px;
  }
}

//
.form-horizontal {
  .form-control-position {
    line-height: 3.2rem;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
  }
}
.navbar-nav {
  .form-control-position {
    line-height: 3.2rem;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
  }
}
.btn-upgrade-pro{
  position: absolute;
  bottom: 10px;
  z-index: 9;
  width: 90%;
}